.container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: auto;
  height: 500px;
  width: 250px;
}



.container p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

.container button {
  margin-top: 40px;
  margin-bottom: 20px;
}


#qrcode {
  border: 1px solid black;
  height: 250px;
}